.textoBien{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter:blur(3px);
    font-weight: 600;
    font-Size: 7rem;
    color: white;
    position: absolute;
    top: 80%;
    left: 25%;
    transform: translate(-50%, -50%); 
}
.fondoPantalla{
    height: auto;
    width: auto;
    max-width: 1895px;
}